.connections-table-container {
  width: 100%;

  .connections-table-content {
    width: 100%;
    background-color: #fafafa;
    padding: 24px;
    height: calc(100vh - 64px);
  }

  .table {
    border-radius: 8px;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0px 0px 7px 0px rgba(3, 59, 105, 0.2);
  }

  .table thead tr {
    background-color: #ffdeca;
    border-radius: 8px 8px 0 0;
  }

  .table th:first-child {
    border-radius: 8px 0 0 0px;
    border-left: 1px solid #ffb588;
  }

  .SuccessButton {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    position: relative;
    background-color: #00FFC1;
    color: #1b5e20;
    border: 2px solid #1b5e20;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  }
  
  .close-icon {
    cursor: pointer;
    margin-left: 8px;
  }

  .options-list {
  display: flex;
  right: 0;
  white-space: nowrap;
  flex-direction: column;
  background-color: #fff; 
  border: 1px solid #ddd; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px; 
  position: absolute;
  z-index: 1;
  margin-right: 8px;
}

.option-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.option-item:hover {
  background-color: #f0f0f0; 
}

.option-icon {
  margin-right: 8px;
}

.option-label {
  font-size: 14px;
}

  .table th:last-child {
    border-radius: 0 8px 0px 0;
    border-right: 1px solid #ffb588;
  }

  .table thead th {
    border-top: 1px solid #ffb588;
    border-bottom: 1px solid #ffb588;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }

  .table tbody {
    background: #fff;
  }

  .table tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 8px;
  }

  .table tbody:last-child tr:last-child td:last-child {
    border-radius: 0 0 8px 0;
  }

  .table td,
  .table th {
    border-top: 1px solid #ececec;
  }

  .table td {
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    color: #2b303c;
  }

  .table td,
  .table th {
    vertical-align: middle;
  }

  .connections-table-arrow-expand {
    transform: rotate(90deg);
    cursor: pointer;
  }

  .connections-table-arrow-collapse {
    transform: rotate(0deg);
    cursor: pointer;
  }

  .connections-table-add-connections-btn {
    display: flex;
    justify-content: flex-end;
    margin: 24px 24px 0 0;
  }
}
