.connections-table-container {
  width: 100%;

  .connections-table-content {
    width: 100%;
    background-color: #fafafa;
    padding: 24px;
    height: calc(100vh - 64px);
  }

  .table {
    border-radius: 8px;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0px 0px 7px 0px rgba(3, 59, 105, 0.2);
  }

  .table thead tr {
    background-color: #ffdeca;
    border-radius: 8px 8px 0 0;
  }

  .table th:first-child {
    border-radius: 8px 0 0 0px;
    border-left: 1px solid #ffb588;
  }

  .table th:last-child {
    border-radius: 0 8px 0px 0;
    border-right: 1px solid #ffb588;
  }

  .table thead th {
    border-top: 1px solid #ffb588;
    border-bottom: 1px solid #ffb588;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }

  .table tbody {
    background: #fff;
  }

  .table tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 8px;
  }

  .table tbody:last-child tr:last-child td:last-child {
    border-radius: 0 0 8px 0;
  }

  .table td,
  .table th {
    border-top: 1px solid #ececec;
  }

  .table td {
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    color: #2b303c;
  }

  .table td,
  .table th {
    vertical-align: middle;
  }

  .connections-table-arrow-expand {
    transform: rotate(90deg);
    cursor: pointer;
  }

  .connections-table-arrow-collapse {
    transform: rotate(0deg);
    cursor: pointer;
  }

  .connections-table-add-connections-btn {
    display: flex;
    justify-content: flex-end;
    margin: 24px 24px 0 0;
  }
}
